.Fon1 {
    background-color: rgb(241, 239, 222);
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 20px;

}
#fon2{
    background-color: rgb(241, 239, 222);
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 20px;

}
#fon3{
    background-color: rgb(241, 239, 222);
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 20px;

}#fon4{
    background-color: rgb(241, 239, 222);
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 20px;

}
#foto1{
    border-radius: 20px;
}

#f2{
    border-radius: 20px;
}
#f3{
    border-radius: 20px;
}
#f4{
    border-radius: 20px;
}