#Fon1 {
    background-color: rgb(248, 190, 110); 
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 20px;
}
#Fon2, #Fon3, #Fon4 {
    background-color: rgb(248, 190, 110);
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 20px;
}
#F1, #F2, #F3, #F4, #F5 {
    border-radius: 20px;
}
